<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
            filename='create/css/style.css') }}">
</head>

<body>
    <form action="" method="post" id="form">
        <input type="email" name="email" id="email" required>
        <button type="submit" class="submit">Create new magic link</button>
    </form>

    <script src="{{ url_for( 'static', filename='js/jquery-3.5.1.min.js' )
            }}"></script>
    <script>
        $(".submit").on("click", function(e) {
            e.preventDefault();
            let email = $('#email').val();
            $('#form').attr('action', "/index/" + email).submit();
        });
    </script>
</body>


</html>