<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <table border="1">
            <caption>New account created</caption>
            <tr>
                <th>Email</th>
                <th>{{email}}</th>
            </tr>
            <tr>
                <th>Hashed password</th>
                <th>{{password}}</th>
            </tr>
            <tr>
                <th>Magic link</th>
                <th><a target="_blank" rel="noopener noreferrer" href="http://magiclinktest.herokuapp.com/ml/{{magiclink}}">http://magiclinktest.herokuapp.com/ml/{{magiclink}}</a></th>
            </tr>
            <tr>
                <th>Url counter</th>
                <th>{{url_counter}}</th>
            </tr>
        </table>

        <form action="/changestatus" method="post">
            <input type="hidden" name="email" value="{{email}}">
            <button type="submit">Disable this link</button>
        </form>

    </div>

    <script src="{{ url_for( 'static', filename='js/jquery-3.5.1.min.js' )
            }}"></script>
</body>

</html>