<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <table border="1">
            <caption>New account created</caption>
            <tr>
                <th>Email</th>
                <th>{{email}}</th>
            </tr>
            <tr>
                <th>Hashed password</th>
                <th>{{password}}</th>
            </tr>
            <tr>
                <th>Magic link</th>
                <th>
                    <link rel="alternate" type="application/rss+xml" title="http://magiclinktest.herokuapp.com/ml/{{magiclink}}" href="http://magiclinktest.herokuapp.com/ml/{{magiclink}}">
                </th>
            </tr>
            <tr>
                <th>Url counter</th>
                <th>0</th>
            </tr>
        </table>
    </div>
</body>

</html>